{% extends "base.njk" %}

{% set title = "Home" %}

{% block content %}
<div class="row">
	<div class="container">
		<div class="row text-center">
			<h1>Our logo should go here</h1>
			<h1><strong>Khan Queso</strong></h1>
			<h2>Alt/Pop Cover band</h2>
		</div>
	</div>
</div>
<div class="row bio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h2><strong>Who are we?</strong></h2>
				<h3>
					The best band on earth! That's who. Our #1 hit is Green Llama. We haven't sold out, yet.
				</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}