{% extends "base.njk" %}
{% set title = "Privacy Policy" %}

{% block content %}
<div class="row">
	<div class="container text-center">
		<div class="row privacy">
			<h1>&#160;</h1>
			<h3>
				I use Google Analytics’ 3rd-party audience data such as age, gender,
				and interests to better understand the behavior of users on this site and work with companies that collect information about your online activities to provide advertising targeted to suit your interests and preferences. 
				These companies also use automated technologies to collect information when you click on our ads, which helps track and manage the effectiveness of our marketing efforts.
			</h3>
			<h3>
				You may opt out of the automated collection of information by third-party ad networks for the purpose of delivering advertisements tailored to your interests,
				by visiting the opt-out page on your Google Display Network ads’ preferences at <a href="https://www.google.com/ads/preferences/">https://www.google.com/ads/preferences/</a>.
			</h3>
		</div>
	</div>
</div>
{% endblock %}