$primary-color : #0bc5da;
$secondary-color: #f5ba45;
$logo-pink: #f37691;
html,
body {
  width: 100%;
  position: relative;
  background-color: $primary-color;
  color: #ffffff;
}

a,
a:hover,
a:focus {
  color: $logo-pink;
  text-decoration: none;
}

.valign-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo,
.navbar-container {
  background-color: #efefef;
  color: $primary-color;
  text-align: center;
}

.jumbo {
  background-image: url("/img/background.jpg");
  background-size: 100% auto;
  color: $logo-pink;
}

.social-media {
  a {
    margin-right: 16px;
  }
}

.home-logo {
	width: 70%;
	margin: auto;
}

@media(max-width: 768px) {
	.home-logo {
		width: 95%;
	}
}

@media(min-width: 768px) {
  .jumbo {
    height: 100vh;
  }
}