$primary-color: #4b89da;
$secondary-color: #f5ba45;

html, body {
	width: 100%;
	position: relative;
	background-color: $primary-color;
	color: #ffffff;
}

a, a:hover, a:focus {
	color: $secondary-color;
	text-decoration: none;
}

.valign-center {
	display: flex;
	align-items: center;
}

.jumbo, .navbar-container {
	background-color: #efefef;
	color: $primary-color;
}

.social-media {
	a {
		margin-right: 16px;
	}
}
