doctype html
html(lang='en' hreflang='en')
	block vars
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title #{title}
		meta(name='description' content=description)
		link(href='/favicon.ico' rel='shortcut icon')
		link(href='https://fonts.googleapis.com/css?family=Lato:300')
		link(href='/font-awesome/css/font-awesome.min.css' rel='stylesheet')
		link(href='/css/bootstrap.min.css' rel='stylesheet')
		link(href='/css/bootstrap-theme.min.css' rel='stylesheet')
		link(href='/css/website.css' rel='stylesheet')
		link(rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
		link(rel="manifest" href="/img/site.webmanifest")
		link(rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")
	body
		//-
			nav.navbar.navbar-expand-lg
				ul.navbar-nav
					li.nav-item: a.nav-link(href='/index.html') Home
		block content
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='/js/bootstrap.min.js')