extends _base
block vars
	- var title = 'Khan Queso'
	- var description = 'A sick band'
block content
	.jumbo
		img.mx-auto.d-block(src="/img/jumpblack.jpg")
		.logo
			img.mx-auto.d-block#home-logo(src="img/logo_pink.png" alt="Logo with text, Khan Queso")
		.info
			h1 
				a.mr-3(href='https://open.spotify.com/artist/3Lldu2vfsOLDvlJHyO9Jmc'): i.fa.fa-lg.fa-spotify
				a.mr-3(href='https://www.youtube.com/channel/UCKhL6n0hVPHR-pWEBfrqd4w'): i.fa.fa-lg.fa-youtube
				a.mr-3(href='https://www.instagram.com/khanqueso/'): i.fa.fa-lg.fa-instagram
	.container.mt-3
		h2.text-center.mb-3: strong Geek-Infused Indie Rock in Kirksville, MO
		.row
			.col-lg-4.mx-auto
				iframe(style="border: 0; width: 100%; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=3948062554/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless)
					a(href="http://khanqueso.bandcamp.com/track/stomp") Stomp by Khan Queso
			.col-lg-4.mx-auto
				iframe(style="border: 0; width: 100%; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=3814819494/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless)
					a(href="http://khanqueso.bandcamp.com/track/the-pools-closed-up") The Pool's Closed Up by Khan Queso
	.container.mt-3
		.row.mb-3
			.col-lg-6.mx-auto
				h2: strong Ok, so...
				p.
					What do you get when you combine a uke-strumming Hawaiian non-swimmer, a soft-spoken-rap-totin' guitar Ledge-end,
					a steezy percussion-playing Quidditch captain, and a couple of keyboard-slamming singing homeschoolers?
					You end up with a craving for the cheesy indie rock sound of Khan Queso!
				p.
					Khan Queso was formed at Truman State University, 
					when vocalist/keyboardist Tyler Acosta and ukulele player Jeremie Amano saw guitarist Kevin "The Ledge" Melter slaying at an open mic in October 2016.
					Tyler stalked Kevin down, and the three of them got together for a jam session with Lauren Klump,
					a vocalist/multi-instrumentalist and Tyler’s friend from homeschool co-op back in high school.
					Soon after, the band recruited drummer Wren "Wren Piper" Piper at the Spellcasters Quidditch club’s Yule Ball,
					and they continued to rehearse cover songs and write original music together over the next seven months.
				p.
					Since their live debut in May 2017, Khan Queso has become known for their energetic and engaging performances,
					often supporting fellow Kirksville rockers <b>Conman Economy</b> and <b>American Basswood</b> (among many others).
					The band has embraced their geeky side in their shows, utilizing the ukulele, melodica, keytar, Heelys, 
					and swing dancing to cover the likes of <b>Saint Motel, Grouplove, Twenty One Pilots, Jack Johnson, 
					The Killers, Reel Big Fish, Red Hot Chili Peppers, Toto, the Esurance jingle, and the Mii Channel theme</b>, 
					which gave way to one of the most legendary mosh pits in Kirksville history. As they continue to serve up their tasty sound to party people everywhere, Khan Queso is currently self-producing their debut album, set to release in April 2019.
				h2: strong Contact Us
				p Inquiries of any and all kinds are welcome at <a href="mailto:khanquesoband@gmail.com" class="email">khanquesoband@gmail.com</a>!
			.col.lg-6.mx-auto
				<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bh0gC0Aj_cU/?utm_source=ig_embed&amp;utm_medium=loading" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/Bh0gC0Aj_cU/?utm_source=ig_embed&amp;utm_medium=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div><div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bh0gC0Aj_cU/?utm_source=ig_embed&amp;utm_medium=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Khan Queso (@khanqueso)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-04-21T05:16:00+00:00">Apr 20, 2018 at 10:16pm PDT</time></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
	.col.lg-6.mx-auto.members
		img.mx-auto.d-block.w-75(src="img/band_whole.jpg" alt="Image of the band")
		h3.text-center <em>Band Members (left to right):</em>
		.roles
			p.text-center <b>Jeremie Amano</b> <br> guitar, ukulele, vocals
			p.text-center <b>The Kevin The "The Ledge" The Melter</b> <br> vocals, guitar
			p.text-center <b>Lauren Klump</b> <br> bass, vocals, keyboard, guitar
			p.text-center <b>Tyler Acosta</b> <br> vocals, keyboard, keytar, melodica
			p.text-center <b>Wren "Wren Piper" Piper</b> <br> drums, percussion, bass
	.container.mt-3
		h2.text-center.mb-3: strong Upcoming Shows
		script(charset="utf-8" src="https://widget.bandsintown.com/main.min.js")
		a(class="bit-widget-initializer" data-artist-name="Khan Queso" data-display-local-dates="true" data-display-past-dates="true" data-auto-style="false" data-text-color="#000000" data-link-color="#0bc5da" data-background-color="rgba(255,255,255,1)" data-display-limit="" data-link-text-color="#FFFFFF" data-display-lineup="false" data-separator-color="")
		p.fm.text-center.mb-3 find us on <a href="https://www.setlist.fm/setlists/khan-queso-13cc653d.html" class="setlist">Setlist.fm</a> for a complete list of past shows and setlists!
	.container.mt-3
		// Begin Mailchimp Signup Form
		link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css' rel='stylesheet' type='text/css')
		style(type='text/css').
			#mc_embed_signup{background:#fff; color: black; clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
			We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			/* Note to J: I tried to do that ^^^ and everything broke :( */
		#mc_embed_signup
			form#mc-embedded-subscribe-form.validate(action='https://facebook.us19.list-manage.com/subscribe/post?u=a91c0e1cc67c40b2384f777d5&id=3d4f3d6041' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
				#mc_embed_signup_scroll
					h2: strong JOIN THE QUESO NATION
					p Subscribe to our mailing list to recieve updates on new releases, shows, merch, limited-time discounts and more, as well as a free download of our song "Stomp"!
					.indicates-required
						span.asterisk *
						|  indicates required
					.mc-field-group
						label(for='mce-EMAIL')
							| Email Address  
							span.asterisk *
						input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
					.mc-field-group
						label(for='mce-FNAME') First Name 
						input#mce-FNAME(type='text' value='' name='FNAME')
					.mc-field-group
						label(for='mce-LNAME') Last Name 
						input#mce-LNAME(type='text' value='' name='LNAME')
					.mc-field-group.size1of2
						label(for='mce-BIRTHDAY-month') Birthday 
						.datefield
							span.subfield.monthfield
								input#mce-BIRTHDAY-month.birthday(type='text' pattern='[0-9]*' value='' placeholder='MM' size='2' maxlength='2' name='BIRTHDAY[month]')
							|  / 
							span.subfield.dayfield
								input#mce-BIRTHDAY-day.birthday(type='text' pattern='[0-9]*' value='' placeholder='DD' size='2' maxlength='2' name='BIRTHDAY[day]')
							span.small-meta.nowrap ( mm / dd )
					#mce-responses.clear
						#mce-error-response.response(style='display:none')
						#mce-success-response.response(style='display:none')
					// real people should not fill this in and expect good things - do not remove this or risk form bot signups
					div(style='position: absolute; left: -5000px;' aria-hidden='true')
						input(type='text' name='b_a91c0e1cc67c40b2384f777d5_3d4f3d6041' tabindex='-1' value='')
					.clear
						input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
		script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
		script(type='text/javascript').
			(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
		// End mc_embed_signup
	p.text-center#producertag website by Jeremie Amano and Tyler Acosta.
	a(href="https://www.patreon.com/bePatron?u=7474460")
		img.mx-auto.d-block#patreon(src="/img/patreon.png")