extends _base
block vars
	- var title = 'Khan Queso'
	- var description = 'A sick band'
block content
	.row.jumbo
		.container
			.row.text-center
				img.className#IdName(src="img/logo_pink.png" alt="Image Title")
				h2 geek-infused indie rock!
	.row
		.container
			.row
				.col-md-offset-2.col-md-8
					h2: strong Who are we?
					h3 The best band on earth! That's who. Our #1 hit is Green Llama. We haven't sold out, yet.